#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.Menu{
  display: grid;
  padding: 1.5em;
  place-items: center;
  
}

.Menu button{
  width: 20em;
  height: 3.5em;
  margin: 10px;
}


.read-the-docs {
  color: #888;
}

Header {
  position: fixed;
  text-align: center;
  top: 0%;
  left: 0%;
  width: 100%;
  background-image: url(./assets/Roof-Header.png);
  background-size: 20% 100%;
  outline: 4px solid black;
  font-size: 40px;
  
}

Footer{
    position: fixed;
    text-align: center;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-image: url(./assets/Stone-Footer.png);
    background-size: 20% 100%;
    outline: 4px solid black;
    font-size: 40px;
  }

 